/* app css stylesheet */

body {
  padding-top: 20px;
  padding-left: 20px;
}

.rowstyle {
    width: 100%;
    height: 12px;
}

.column0 {
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #87CEEB;
}

.column1 {
    float: left;
    width: 12px;
    height: 12px;
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: black;
}

.startButton {
	width: 100px;
	height: 100px;
	background-color: blue;
}